.item {
	display: flex;
	margin: 15px 10px 0 10px;
	border-radius: 5px;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.item .text {
	color: #fff;
	padding: 10px;
}

.ml-auto {
	margin-left: auto;
}

.item .btn {
	height: 41px;
	width: 41px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
}

